//
//  .gitignore
//  Atlas
//
//  Created by Miguel Susano on 23/11/2024.
//  Copyright © 2024 com.miguel. All rights reserved.
//

Atlas.xcodeproj/project.xcworkspace/xcuserdata/miguelsusano.xcuserdatad/UserInterfaceState.xcuserstate
Atlas.xcodeproj/xcuserdata/miguelsusano.xcuserdatad/xcschemes/xcschememanagement.plist
Atlas.xcodeproj/project.pbxproj
Atlas.xcodeproj/project.pbxproj
Atlas.xcodeproj/project.pbxproj
Atlas/.DS_Store
.DS_Store
